// |--------------------------------------------------------------------------
// | Hero
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .os2-hero
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

@os2-hero-border-bottom-color: @brand-primary;
@os2-hero-border-bottom-width: 4px;

// Responsive

// --------------------------------------------------
// Variables (with image)
// --------------------------------------------------

// Responsive
@os2-hero-with-image-xs-padding-bottom: 40px;
@os2-hero-with-image-xs-padding-top: (100px + @bs3-simple-navigation-height);

@os2-hero-with-image-sm-padding-bottom: 120px;
@os2-hero-with-image-sm-padding-top: (120px + @bs3-main-navigation-height);

@os2-hero-with-image-md-padding-bottom: 130px;
@os2-hero-with-image-md-padding-top: (130px + @bs3-main-navigation-height);

@os2-hero-with-image-lg-padding-bottom: 130px;
@os2-hero-with-image-lg-padding-top: (130px + @bs3-main-navigation-height);

// --------------------------------------------------
// Variables (without image)
// --------------------------------------------------

@os2-hero-without-image-background-color: @state-dark-bg;

// Responsive
@os2-hero-without-image-xs-padding-bottom: 8px;
@os2-hero-without-image-xs-padding-top: (30px + @bs3-simple-navigation-height);
@os2-hero-without-image-sm-padding-bottom: 12px;
@os2-hero-without-image-sm-padding-top: (50px + @bs3-main-navigation-height);
@os2-hero-without-image-md-padding-bottom: 15px;
@os2-hero-without-image-md-padding-top: (70px + @bs3-main-navigation-height);
@os2-hero-without-image-lg-padding-bottom: 15px;
@os2-hero-without-image-lg-padding-top: (80px + @bs3-main-navigation-height);

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Hero
.os2-hero {
  overflow: hidden;
  border-bottom-color: none;
    border: none;
  border-bottom-width: @os2-hero-border-bottom-width;
  border-bottom-style: none;

  .os2-hero-heading {

    .os2-hero-heading-title {
      color: @state-dark-text;
      margin: 0;
    }
  }

  .os2-hero-subheading {
    color: @state-dark-text;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

// With image
.os2-hero-with-image {
  background-color: transparent;
  .background-cover;

  .os2-hero-headings-wrapper {
    text-align: center;

    .os2-hero-heading {
      padding-bottom: 20px;

      .os2-hero-heading-title {
        .heading-h1;
        font-weight: @headings-font-weight-bold;
          font-size: 60px;
      }
    }

    .os2-hero-subheading {
      .heading-h4;
      font-weight: @headings-font-weight-semi-bold;
    }
  }
}

// Without image

.os2-hero-without-image > .background-overlay-dark {
    
    height: 100vh!important;
    background: rgba(56,56,71,0.5); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, rgba(56,56,71,0.5) , rgba(201,0,79,0.8)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(56,56,71,0.5), rgba(201,0,79,0.8)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(56,56,71,0.5), rgba(201,0,79,0.8)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(56,56,71,0.5) , rgba(201,0,79,0.8)); /* Standard syntax */
   
}


.os2-hero-without-image {
  background-image:url("https://hd.unsplash.com/photo-1448932223592-d1fc686e76ea");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;


  .os2-hero-heading {
      
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;

    .os2-hero-heading-title {
      .heading-h3;
      font-weight: @headings-font-weight-bold;
        font-size: 60px;
        text-align: center;
        vertical-align: middle;
        bottom: 0;
        transform: translateY(50%);
   
    }
  }

  .os2-hero-subheading {
    display: block;
  }
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile
@media @media-query-mobile {

  // Hero
  .os2-hero {}
}

// Mobile - only
@media @media-query-mobile-only {

  // Hero
  .os2-hero {

    &.os2-hero-with-image {

      .os2-hero-inner-wrapper {
        padding-top: @os2-hero-with-image-xs-padding-top;
        padding-bottom: @os2-hero-with-image-xs-padding-bottom;
      }
    }

    &.os2-hero-without-image {

      .os2-hero-inner-wrapper {
        padding-top: @os2-hero-without-image-xs-padding-top;
        padding-bottom: @os2-hero-without-image-xs-padding-bottom;
      }
    }
  }
}

// Tablet
@media @media-query-tablet {

  // Hero
  .os2-hero {  }
}

// Tablet - only
@media @media-query-tablet-only {

  // Hero
  .os2-hero {

    &.os2-hero-with-image {

      .os2-hero-inner-wrapper {
        padding-top: @os2-hero-with-image-sm-padding-top;
        padding-bottom: @os2-hero-with-image-sm-padding-bottom;
      }
    }

    &.os2-hero-without-image {

      .os2-hero-inner-wrapper {
        padding-top: @os2-hero-without-image-sm-padding-top;
        padding-bottom: @os2-hero-without-image-sm-padding-bottom;
      }
    }
  }
}

// Desktop
@media @media-query-desktop {

  // Hero
  .os2-hero {}
}

// Desktop - only
@media @media-query-desktop-only {

  // Hero
  .os2-hero {

    &.os2-hero-with-image {

      .os2-hero-inner-wrapper {
        padding-top: @os2-hero-with-image-md-padding-top;
        padding-bottom: @os2-hero-with-image-md-padding-bottom;
      }
    }

    &.os2-hero-without-image {

      .os2-hero-inner-wrapper {
        padding-top: @os2-hero-without-image-md-padding-top;
        padding-bottom: @os2-hero-without-image-md-padding-bottom;
      }
    }
  }
}

// Large desktop
@media @media-query-large-desktop {

  // Hero
  .os2-hero {}
}

// Large desktop - only
@media @media-query-large-desktop-only {

  // Hero
  .os2-hero {

    &.os2-hero-with-image {

      .os2-hero-inner-wrapper {
        padding-top: @os2-hero-with-image-lg-padding-top;
        padding-bottom: @os2-hero-with-image-lg-padding-bottom;
      }
    }

    &.os2-hero-without-image {

      .os2-hero-inner-wrapper {
        padding-top: @os2-hero-without-image-lg-padding-top;
        padding-bottom: @os2-hero-without-image-lg-padding-bottom;
      }
    }
  }
}

// Print
@media print {

  // Hero
  .os2-hero {}
}

// Touch
.touchevents {

  // Hero
  .os2-hero {}
}

// No touch
.no-touchevents {

  // Hero
  .os2-hero {}
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Hero mixin
.os2-mixin-hero() {}
